* {
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', arial;
}

#header {
    display: flex;
    justify-content: space-between;
    padding: 20px 200px;
    background-color: #1F2937;
    color: #F9FAF8;
}

.logo-img {
    width: 100px;
    height: 100px;
    border-radius: 25%;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar .nav-items {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-item a {
    text-decoration: none;
    color: #F9FAF8;
}

.main-page {
    display: flex;
    justify-content: center;
    gap: 50px;
    height: 77vh;
    background-color: #1F2937;
    color: #F9FAF8;
    align-items: center;
}

.description h1{
    font-size: 48px;
}

.description p {
    font-size: 18px;
    color: #E5E7EB;
}

.product-img {
    width: 500px;
    height: 300px;
    border-radius: 48px;
}

.sign-up-btn {
    padding: 10px 30px;
    border-radius: 12px;
    background-color: #2882F6;
    color: #F9FAF8;
    font-weight: bold;
    margin-top: 20px;
    font-size: 24px;
    cursor: pointer;
}

.features-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.features-page h1 {
    margin: 40px 0px;
    color: #1F2937;
    font-size: 36px;
}

.features {
    display: flex;
    gap: 40px;
}

.features div {
    width: 210px;
    text-align: center;
}

.features-page img {
    width: 200px;
    height: 200px;
    border-radius: 16px;
    border: 5px solid #2882F6;
    margin: 10px;
}

.quote-page {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0px;
}

.quote-page p {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
}

.quote-page span {
    font-weight: bold;
    float: right;
    margin-top: 30px;
}